.navbar-default{ background-color:#007fff; }

.smallstat {
  background: white;
  padding: 6px;
  position: relative;
  text-align: left;
}

.box{
  border: 1px solid #dbdee0;
  margin: -14px 0px 18px 0px;
}



.smallstat i.gray {
background: white url(images/inr.png) center center no-repeat;
height:46px;
}


.smallstat i {
text-align: center;
display: block;
color: black;
width: 14px;
font-size: 22px;
padding: 14px 0;
float: left;
margin-left: 0px;
}



.fa {
display: inline-block;
font-style: normal;
font-weight: normal;
line-height: 1;

}

.smallstat .title {
top: 12px;
color: black;
display: block;
font-size: 10px;
margin-top: -4px;
font-weight: bold;
}

.smallstat .value {
font-size: 20px;
}