 .container {
        width: 100%;
        max-width: 100%;
      }

      .container.padded>.row {
        margin: 0;
      }

      .padded {
        padding: 15px;
      }

      .separate-sections {
        margin: 0;
        list-style: none;
        padding-bottom: 5px;
      }

      .separate-sections>li,.separate-sections>div {
        margin-bottom: 15px !important;
      }

      .separate-sections>li:last-child,.separate-sections>div:last-child {
        margin-bottom: 0px;
      }

      i {
        margin: 0 10px;
      }