div.DTTT_container {
	position: relative !important;
	float: right !important;	
	margin-bottom: 1em !important;
}

.dataTables_length {
	float: left;
	margin-top: 5px;
}

div.dataTables_wrapper .ui-state-default {
background: #83bbea;
}

div.dataTables_wrapper .ui-widget-header {
font-weight: normal;
color: #333;
height: 40px;
max-height: 40px;
background-color: gainsboro !important;
}
.ajaxfadeclass {
  background-color:rgba(0,0,0,0.6); 
  width:200%; 
  height:200%; 
  left:0; 
  top:0; 
  z-index:9999999998; 
  position:fixed;
  opacity: 0.8; 
}

.ui-widget-header {
	line-height: 0px !important;
}

#dataset_table .classDataTable {
	font-size: 11px !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

.dataTables_paginate {
border-radius: 0 0 10px 10px;
height: 25px;
padding-top: 7px;
text-align: right;
}

.dataTables_info {
border-radius: 0 0 0 10px;
float: left !important;;
height: 25px;
padding-left: 10px;
padding-top: 13px !important;;
width: auto;
}

.dataTables_filter {
border-radius: 0 10px 0 0;
float: right;
height: 32px;
padding-right: 10px;
padding-top: 5px;
text-align: right;
width: 50%;
}

.paging_full_numbers .ui-button {
padding: 2px 6px;
margin: 0;
cursor: pointer;
color: #333 !important;
}

.dataTables_paginate .ui-button {
margin-right: -0.1em !important;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
	margin-left: 10px !important;
	height: 22px !important;
	padding: 3px 5px 3px 5px !important;
	color: black !important;
	}
	
.paging_full_numbers .ui-button {
padding: 2px 6px;
margin: 0;
cursor: pointer;
color: #333 !important;
}

table.dataTable th {
font-size: 10px;
font-weight: bold;
padding: 3px 2px;
	
} 

.dataTable td {
font-size: 10px;
}

.smallstat {
  background: white;
  padding: 6px;
  position: relative;
  text-align: left;
}

.box{
  border: 1px solid #dbdee0;
  margin: -14px 0px 18px 0px;
}



.smallstat i.gray {
background: white url(ui-lightness/images/inr.png) center center no-repeat;
height:46px;
}


.smallstat i {
text-align: center;
display: block;
color: black;
width: 14px;
font-size: 22px;
padding: 14px 0;
float: left;
margin-left: 0px;
}



.fa {
display: inline-block;
font-style: normal;
font-weight: normal;
line-height: 1;

}

.smallstat .title {
top: 12px;
color: black;
display: block;
font-size: 10px;
margin-top: -4px;
font-weight: bold;
}

.smallstat .value {
font-size: 20px;
}
hr {
margin-top:6px;
margin-bottom:4px;
}
.alert{
margin-bottom:-7px;
}
.panel-body1{
margin-bottom:-28px;
}
