div.DTTT_container {
position: relative !important;
float: right !important;
margin-bottom: 1em !important;
}
div.DTTT_container {
padding-top: 5px !important;
}
button.DTTT_button, div.DTTT_button, a.DTTT_button {
margin-left: 10px !important;
height: 22px !important;
padding: 3px 5px 3px 5px !important;
color: black !important;
}

table.dataTable th {
font-size: 12px;
font-weight: bold;
padding: 3px 2px;
	
} 

.dataTable td {
font-size: 13px;
}